<!DOCTYPE html>
<html>
  <head>
    <title>Magnus</title>
    <meta name="description" content="This site is under construction...">
    <meta name="robots" content="noidex,nofollow">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <link rel="prefetch" href="<%= asset_pack_path 'application.css' %>" />
    <%= yield %>
  </body>
</html>
